<div class="container">
        <div class="row">
          
            <div class="col">
            
            </div>
          
            <div class="col-6">
           
             
            <h1 style="text-align: center; font-family: 'Roboto Condensed', sans-serif;">{{title}}</h1>

            <app-post-list-component *ngFor="let item of Posts"></app-post-list-component>

          
            </div>
          
          
            <div class="col">
            
            </div>
    </div>
</div>        