
<div class="wrapPosts" style="border: 2px solid dimgray; padding: 10px; margin-bottom: 10px; margin-top: 10px;">

    <p style="text-align: right">{{postCreated}}</p>
    <h3  style="text-align: left; font-family: 'Roboto Condensed', sans-serif;">{{postTitle}}</h3>
    <hr>

    <p style="text-align: justify; font-style: italic;" >{{postContent}}</p>

    <div class="wrapBtn" style="display: flex; justify-content: space-around">
           
        <button class="btn btn-primary" >Love its</button> 
        
        <button class="btn btn-warning"> don't love it. </button>

    </div>
    


</div>

